*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #F2F2F2;
}
html{
  scroll-behavior: smooth;

}
:root {
    --text_color: #fff;
    --main_color: rgb(16, 167, 91);
}
img {
    max-width: 100%;
    display: block;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* header */
.wrap__header{
    position: fixed;
    background-color: var(--main_color);
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
}
.header {
    max-width: 1200px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.header__logo {
    width: 40px;
    height: 40px;
    margin: auto 0;
}
.logo {
    border-radius: 50%;
}
.header__logo:hover {
    cursor: pointer;
}
.header__menu {
    display: flex;
}
.header__menu ul{
    display: flex;
    margin-right: 280px;
}
.menu__item {
    margin: 0 30px;
    padding: 17px 0;
}
.header__menu .menu__item-detail {
    position: relative;
}
.menu__item-detail:hover .menu__detail-link  {
    display: block;
}
.menu__detail {
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 4px;
}
.menu__detail-link {
    display: block;
    width: 133px;
    height: 30px;
    background-color: var(--main_color);
    z-index: 100;
    padding-left: 5px;
    display: none;
}
.menu__detail-link:hover {
    background-color: rgb(8, 138, 73);
}
.menu__detail .menu__detail-link {
    color: var(--text_color);
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}
.header__menu .active a{
    color: rgb(231, 209, 13);
}
.menu__item a{
    color: var(--text_color);
    text-transform: uppercase;
    font-size: 14px;
}
.menu__icon {
    line-height: 50px;
}
.menu__item a:hover,
.menu__icon a:hover
{
    color: rgb(221, 218, 18);

}
.icon_item {
    color: var(--text_color);
    font-size: 14px;
    margin: 0 5px;
}
/* content */
.content {
    max-width: 1200px;
    margin: 50px auto 0;
}
.main__content {
    margin-top: 20px;
    background-color: #fff;

}
.product {
    width: 100%;
    height: auto;
}
.product__title {
    padding: 7px;
    background-color: var(--main_color);
    width: 15%;
    text-align: center;
    color: var(--text_color);
    font-size: 15px;
    margin: 5px 0 0px 25px;
}
.decoration {
    margin-left: 25px;
    width: 92%;
    height: 1px;
    background-color: var(--main_color);
}
.product__wrap {
    max-width: 90%;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.item {
    border: 2px solid #f1ebeb;
    margin: 16px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    max-height: 300px;
    width: 22%;
}
.item:hover {
    box-shadow: 0 3px 3px 3px #c9c2c2;
    transition: 0.3s ease;
    transform: translate(2px, 2px)
}
.item h4 {
    text-transform: uppercase;
    margin: 2px 0;
}
.item .price {
    color: rgb(196, 30, 30);
}
.item .rate {
    color: rgb(231, 209, 12);
    font-size: 10px;
    margin: 3px 0 10px 0;
}
.btn__buy {
    display: block;
    /* padding: 4px 18px; */
    background-color: var(--main_color);
    color: var(--text_color);
    font-size: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    line-height: 25px;
}    
.btn__buy:hover {
    background-color: rgb(10, 131, 70);
}
/* pagination */
.pagination {
   display: flex;
   justify-content: center;
}
.pagination__item {
    margin: 0 6px;
}
.pagination__item-link {
    display: block;
    min-width: 30px;
    height: 25px;
    text-align: center;
    color: #666666;
    border: 1px solid #666666;
    font-size: 14px;
    line-height: 25px;
}
.pagination__item-link:hover {
    background-color: var(--main_color);
    color: var(--text_color);
}
.pagination__item--active .pagination__item-link {
    background-color: var(--main_color);
    color: var(--text_color);
}
.product__wrap-pagination {
    margin: 20px 0 20px 0;
}
/* blogs */
.blog__item{
    display: flex;
    width: 47%;
    margin: 10px 16px 40px 16px;
}
.blog__info {
    display: block;
    margin: 0 12px;
}
.blog__timing .timing__clock {
    font-size: 16px;
}
.blog__info .btn__buy {
    margin: 14px 0 0 0;
    text-align: center;
}
.decrip {
    font-size: 14px;
    overflow: hidden;
    margin: 3px 0;
}
/* footer */
.footer {
    width: 100%;
    height: 250px;
    background-color: var(--main_color);
    display: flex;
    justify-content: space-around;
}
.footer__img {
    max-width: 100px;
}
.footer__col {
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer__title {
    text-transform: uppercase;
}
.item__footer {
    margin-top: 20px;
}
.item__footer-link {
    margin: 6px 0 10px 0;
    font-size: 15px;
}
.item__footer-link a {
    color: #000;
}

.footer__icon-link {
    display: inline-block;
    font-size: 28px;
    margin-right: 15px;
}
.footer__icon-link .fb {
    color: #1645b0;
}
.footer__icon-link .gg {
    color: #973b1f;
}
.footer__icon-link .it {
    color: #db3158;
}
/* btn scroll-top */
.scrolltop {
    position: fixed;
    display: flex;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    background-color: #db3158;
    color: #fff;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1000;
    transition: 0.5s;
}
.scrolltop:hover {
    background-color: #d41b46;
}
.show-scroll{
    visibility: visible;
    bottom: 30px;
}